@import "theme-sam-variables";

.home-page {
    .search-bar {
        padding: 20px;

        .search-area {
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
        }

        @media (max-width: 600px) {
            .search-area {
                display: block;
                margin-bottom:20px;
            }
        }

        .row {
            padding: 20px 0;
            margin: 0;
        }

        .search-label {
            display: inline;
            font-size: 2rem;
            color: $brand-colour-d2;
            font-family: $heading-font;
            letter-spacing: $heading-letter-spacing;
            margin-right: 10px;
        }

        @media (max-width: 600px) {
            .search-label {
                display: block;
                margin-right: 0;
            }
        }

        i {
            color: $brand-colour-d2;
        }

        @media (max-width: 600px) {
            i {
                display: none;
            }
        }

        input[type=text].search-input {
            display: inline;
            border: none;
            border-bottom: 2px dotted $brand-colour-d2;
            font-size: 2rem;
            font-weight: bold;
            color: $brand-colour-d3;
            box-shadow: none;
            font-family: $heading-font;
            letter-spacing: $heading-letter-spacing;
            width: 300px;
            max-width: 400px;
            margin: 0;

            &:focus {
                border-bottom: 2px solid $brand-colour-d2;
                box-shadow: none;
            }

            &::-webkit-input-placeholder {
                font-weight: normal;
                color: $brand-colour-d2-half;
            }

            &::-moz-placeholder {
                font-weight: normal;
                color: $brand-colour-d2-half;
            }

            &:-ms-input-placeholder {
                font-weight: normal;
                color: $brand-colour-d2-half;
            }

            &:-moz-placeholder {
                font-weight: normal;
                color: $brand-colour-d2-half;
            }
        }

        @media (max-width: 600px) {
            input[type=text].search-input{
                text-align:center;
            }
        }
    }



    .home-main {
        padding-top: 20px;

        .home-row {
            margin: 0;
            padding: 20px 0;
        }
    }
}