@import "theme-sam-variables";

.mobile-recipe-card {
    .header-with-image {
        margin: 0;
        display: flex;

        .header-text {
            width: 50%;
            margin: auto;
            padding-left: 10px;
        }

        .card-image {
            width: 50%;
        }
    }



    .header-no-image {
        padding: 0;
        margin: 0;

        .header-text {
            margin: 0;
            padding: 1.52rem 0 .912rem 10px;
        }
    }

    .card-content {
        padding: 10px;
    }
}

.card .card-content .cooking-info,
.card .card-content .cooking-tip,
.card .card-content .cooking-warning {
    margin-top: 30px;
}

@media only screen and (max-width : 600px) {
    .card .card-content .cooking-info,
    .card .card-content .cooking-tip,
    .card .card-content .cooking-warning {
        margin-top: 15px;
    }
}


.card .card-content .cooking-info i,
.card .card-content .cooking-info span,
.card .card-content .cooking-tip i,
.card .card-content .cooking-tip span,
.card .card-content .cooking-warning i,
.card .card-content .cooking-warning span {
    vertical-align: middle;
}

.card .card-content .cooking-info i,
.card .card-content .cooking-tip i,
.card .card-content .cooking-warning i {
    margin-right: 10px;
}

.card .card-content .cooking-info {
    color: $info-colour;
}

.card .card-content .cooking-tip {
    color: $tip-colour;
}

.card .card-content .cooking-warning {
    color: $warning-colour;
}

.card .card-image.thin-image {
    max-width: 30%;
}

.card .card-image.thin-image img {
    object-fit: cover;
    min-height: 100%;
}

.card .card-title{
    font-family: $heading-font;
    letter-spacing: $heading-letter-spacing;
}