@import "theme-sam-variables";

html, body {
    position: relative;
    min-width: 360px;
    background: #fafafa;
    z-index: -1;
}

.food-site {
    .container {
        max-width: 960px;
    }

    h1 {
        font-family: $title-font;
    }

    h2, h3, h4, h5 {
        font-family: $heading-font;
        letter-spacing: $heading-letter-spacing;
    }

    a:hover {
        cursor: pointer;
    }

    .materialboxed:hover:not(.active) {
        opacity: .95;
    }

    .btn,
    .btn-large,
    .btn-small,
    .btn-flat {
        text-transform: none;
        font-family: $button-font;
        font-size: 20px;
        letter-spacing: $button-letter-spacing;
    }

    .big-action.brand-green.lighten-4:hover{
        background-color: $brand-colour-l3 !important;
    }
    
    .section-button-row {
        padding-top: 20px;
    }

    .badge[title] {
        cursor: help;
    }

    .gradient-overlay::after {
        display: block;
        position: relative;
        background-image: linear-gradient(to bottom, transparent 0%, black 100%);
        margin-top: -150px;
        height: 150px;
        width: 100%;
        content: '';
    }

    @media only screen and (max-width : 600px) {
        .collection-item {
            padding: 5px 10px;
        }

        .main-article .collection.with-header .collection-item {
            padding: 5px 20px;
        }
    }
}