@import "theme-sam-variables";

.recipe-page {
    /*
    ------------
    Main Article
    ------------
    */
    .main-article {

        .recipe-section {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
        /*
            ------------
            Prereqs
            ------------
            */
        .prereqs {
            background: #e6f3d8;
            background: linear-gradient(24deg, rgba(239,246,231,1) 0%, rgba(230,243,216,1) 100%);
            padding-bottom: 2rem;
        }

        .main-article h2,
        .main-article h3,
        .main-article h4,
        .main-article h5,
        .main-article h6 {
            color: $section-heading-colour;
        }
    }
    /*
    ------------
    Finishing
    ------------
    */
    .finishing-image {
        border: 2px solid #e0e0e0;
        padding: 20px;
        background: white;
    }

    .finishing-image img {
        padding: 0;
        margin: 0;
    }
}