@model ClassRecipes.Web.Areas.Recipes.Models.StepModel

@if (Model?.Step == null)
{
    return;
}

<div class="section no-spacing">
    <div class="row no-spacing">

        <!-- Non Mobile -->
        <div class="hide-on-small-only">
            <div class="col s12 m5 ">
                @await Html.PartialAsync("~/Areas/Common/Views/Shared/_CollectionWithHeader.cshtml", Model.ToolsAndIngredientsCollection)
            </div>

            <div class="col s12 m7">
                <div class="card z-depth-0 card-border with-action no-image">
                    <div class="card-content">
                        @if (Model?.Step.TextLines?.Any() == true)
                        {
                            foreach (var textLine in Model?.Step?.TextLines)
                            {
                                <p>@textLine</p>
                            }
                        }

                        @if (Model?.Step.Alerts?.Any() == true)
                        {
                            @foreach (var alert in Model?.Step?.Alerts)
                            {
                                @await Html.PartialAsync("_Alert", alert)
                            }
                        }
                    </div>

                    @if (!Model.IsLastStep)
                    {
                        <a href="#Step@(Model.NextStepIndex)" class="card-action big-action brand-green lighten-4 ">
                            <span class="brand-green-text darken-3">Next step</span><i class="material-icons right brand-green-text darken-3">arrow_downward</i>
                        </a>
                    }
                </div>
            </div>
        </div>

        <!-- Mobile -->
        <div class="hide-on-med-and-up mobile-recipe-card">
            <div class="col s12 z-depth-1 no-padding">
                <div class="card z-depth-0 card-border header-no-image">
                    <h4 class="header-text">Step @Model.Index</h4>
                </div>

                <div class="clearfix"></div>

                <ul class="collection no-margin no-side-borders-on-small">
                    @foreach (var toolOrIngredient in Model?.ToolsAndIngredientsCollection?.Items)
                    {
                        @await Html.PartialAsync("~/Areas/Common/Views/Shared/_CollectionItem.cshtml", toolOrIngredient)
                    }
                </ul>

                <div class="card z-depth-0 card-border with-action no-margin">
                    <div class="card-content no-side-borders-on-small">
                        @if (Model?.Step.TextLines?.Any() == true)
                        {
                            foreach (var textLine in Model?.Step?.TextLines)
                            {
                                <p>@textLine</p>
                            }
                        }

                        @if (Model?.Step.Alerts?.Any() == true)
                        {
                            @foreach (var alert in Model?.Step?.Alerts)
                            {
                                @await Html.PartialAsync("_Alert", alert)
                            }
                        }
                    </div>

                    @if (!Model.IsLastStep)
                    {
                        <a href="#Step@(Model.NextStepIndex)" class="card-action big-action brand-green lighten-4 ">
                            <span class="brand-green-text darken-3">Next step</span><i class="material-icons right brand-green-text darken-3">arrow_downward</i>
                        </a>
                    }
                </div>
            </div>
        </div>

    </div>
</div>