<div class="section no-spacing">
    <div class="row no-spacing">

        <!-- Non Mobile -->
        <div class="hide-on-small-only">
            <div class="col s12 m5 ">
                <ul class="collection with-header">
                    <li href="#!" class="collection-header"><h4>Step 2</h4></li>
                    <li href="#!" class="collection-item"><span class="badge">2</span>Baking Tins</li>
                    <li href="#!" class="collection-item"><span class="badge">2</span>Baking Paper</li>
                </ul>
            </div>

            <div class="col s12 m7">
                <div class="card z-depth-0 card-border with-action no-image">
                    <div class="card-content">
                        <p>
                            Line 2 baking tins with baking paper.
                        </p>
                    </div>
                    <a href="#Step3" class="card-action big-action brand-green lighten-4 ">
                        <span class="brand-green-text darken-3">Next step</span><i class="material-icons right brand-green-text darken-3">arrow_downward</i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Mobile -->
        <div class="hide-on-med-and-up mobile-recipe-card">
            <div class="col s12 z-depth-1 no-padding">
                <div class="card z-depth-0 card-border header-no-image">
                    <h4 class="header-text">Step 2</h4>
                </div>

                <div class="clearfix"></div>

                <ul class="collection no-margin no-side-borders-on-small">
                    <li href="#!" class="collection-item"><span class="badge">2</span>Baking Tins</li>
                    <li href="#!" class="collection-item"><span class="badge">2</span>Baking Paper</li>
                </ul>

                <div class="card z-depth-0 card-border with-action no-margin">
                    <div class="card-content no-side-borders-on-small">
                        <p>
                            Line 2 baking tins with baking paper.
                        </p>
                    </div>
                    <a href="#Step3" class="card-action big-action brand-green lighten-4 ">
                        <span class="brand-green-text darken-3">Next step</span><i class="material-icons right brand-green-text darken-3">arrow_downward</i>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>